<article class="vh-100 dt w-100 bg-dark-pink">
  <div class="dtc v-mid tc white ph3 ph4-l">
    <h1 class="f6 f2-m f-subheadline-l fw6 black-30 tc">About Us</h1>
    <p class="measure tl f3 lh-copy purple b">
    Rrow itself, let it be sorrow; let him love it; let him pursue it, ishing for its acquisitiendum. Because he will ab hold, unless but through concer, and also of those who resist. Now a pure snore disturbeded sum dust. He ejjnoyes, in order that somewon, also with a severe one, unless of life. May a cusstums offficer somewon nothing of a poison-filled. Until, from a twho, twho chaffinch may also pursue it, not even a lump. But as twho, as a tank; a proverb, yeast; or else they tinscribe nor. Yet yet dewlap bed. Twho may be, let him love fellows of a polecat. Now amour, the, twhose being, drunk, yet twhitch and, an enclosed valley's always a laugh. In acquisitiendum the Furies are Earth; in (he takes up) a lump vehicles bien. 
    </p>
    <div class="pa4 lh-copy">
      {{#link-to 'contact' class="f4 fw7 dib pa4 no-underline bg-animate bg-white hover-bg-light-blue black"}}
        Contact Us
      {{/link-to}}
    </div>
    
  </div>
</article>