<article class="vh-100 dt w-100 bg-dark-pink">
  <div class="dtc v-mid tc white ph3 ph4-l">
    <div class="ph3 ph4-ns pv6 bt b--black-10 black-70 bg-yellow">
      <a href="mailto:" class="link b f4 f1-ns dim black-70 lh-solid">hello@email.com</a>
      <p class="f6 db b ttu lh-solid">© 2016 COMPANY Inc.</p>
    </div>
    
    <div class="pa4 lh-copy">
      {{#link-to 'about' class="f4 fw7 dib pa4 no-underline bg-animate bg-white hover-bg-light-blue black"}}
        About Us
      {{/link-to}}
    </div>
  </div>
</article>